{% extends "base.html" %}

{% block content %}
  {% set blog = get_section(path="blog/_index.md") %}
  <table class="post-list" aria-label="Blog posts">
    <tbody>
      {% for post in blog.pages %}
        <tr>
          <td class="post-date"><time datetime="{{ post.date }}">{{ post.date | date(format="%m/%y") }}</time></td>
          <td><a href="{{ post.permalink }}">{{ post.title }}</a></td>
        </tr>
      {% else %}
        <tr><td>Nothing here yet.</td></tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock content %}
